:root{
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    
    --grey700: hsl(0, 0%, 20%);
    --grey800: hsl(0, 0%, 12%);
    --grey900: hsl(0, 0%, 8%);
    --font: "Inter", sans-serif;}

* {box-sizing: border-box;
margin: 0;
padding:0;}
    
body{background-color: black;
    font-family: var(font);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-container{background-color: var(--grey800);
display:flex;
flex-direction: column;
justify-content:flex-start;
align-items: center;
width:365px;
height:fit-content;}

.name, p{color:var(--white);}
.location{color:var(--green)}

.socials div{background-color: var(--grey700);}